@import "../../../assets/styles/variable";

.dropzone-image-upload-container {
  .image-label {
    font-size: 12px;
    line-height: 16px;
  }

  .image-uploader {
    display: flex;
    flex-flow: row nowrap;
    width: 700px;

    overflow: auto;
    white-space: nowrap;

    .image-catalog {
      flex: 1 1 auto;
      min-width: 200px;
      max-width: 200px;
      height: 200px;
      background-size: cover;
      margin-right: 8px;
      background-color: whitesmoke;
      display: flex;
      position: relative;
      overflow: hidden;
      align-items: center;
      justify-content: center;

      > button {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        padding: 8px;
        padding-bottom: 16px;
        padding-left: 16px;

        &:hover {
          color: $danger;
        }
      }

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }
}
