@import "../../../assets/styles/variable";

.distributor-detail {
  .detail_head,
  .detail_content {
    min-height: 70vh;
  }

  .detail_head {
    padding: 1rem;

    .profile-picture {
      width: 96px;
      height: 96px;
      border-radius: 8px;
      overflow: hidden;
      margin: 0 auto;
      background-color: #000;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .detail-info-wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      gap: 4px;

      font-size: 13px;
      line-height: 16px;

      margin-top: 1rem;
      &:first-child {
        margin-top: 0;
      }

      > .title {
        color: #5c5c5c;
        font-weight: 700;
      }
      > .value {
        color: #2a2b2d;
        font-weight: 400;
      }
    }
  }

  .detail_content {
    padding: 1rem 0.5rem;

    .detail-tab-panel {
      .tab-item {
        width: 175px;
        text-align: center;
      }
    }

    @import "./_components/panelOverview";
    @import "./_components/panelSharingPartners";
    @import "./_components/panelUmkmMembers";
  }
}

.popup-form-sharing-partner-distributor,
.popup-form-representative-distributor {
  > .button-action {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
