.component-breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  padding-left: 0;
  // margin-bottom: 1rem;
  margin-bottom: 0;
  list-style: none;
  border-radius: 0.25rem;

  .component-breadcrumb-item {
    display: list-item;
    text-align: -webkit-match-parent;
    user-select: none;
    text-transform: capitalize;

    &.clickable {
      div {
        color: $primaryBrand !important;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &:first-child::before {
      display: none;
    }

    &::before {
      display: inline-block;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      color: #6c757d;
      content: "/";
    }
  }
}
