@import "../variable";

.component-btn {
  border-radius: 2px;
  padding: 6px 20px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  appearance: none;
  border: 1px solid transparent;
  transition: 150ms all ease-in-out;
  box-sizing: border-box;
  vertical-align: middle;

  &-rounded {
    border-radius: 24px;
  }

  &:focus {
    outline: none;
  }

  &.bold {
    font-weight: 600;
  }

  &.disabled,
  &.disabled:hover,
  &.disabled:active {
    color: #a19f9d;
    background-color: $gray20;
    border: 0;
    // cursor: not-allowed;
  }

  //* ========== SPECIALIZED BUTTON ==================================
  &.back-button {
    padding: 6px 8px 6px 0;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &.button-close {
    background-color: transparent;
  }

  &.button-refresh {
    padding: 8px;
    border-radius: 4px;
    background-color: #f6f7f9;
    &:hover {
      background-color: #e6e7e8;
    }
    &:active {
      background-color: #d6d7d9;
    }
  }

  // ========== END OF SPECIALIZED BUTTON ==================================

  //* ========== BUTTON THEME ========================================
  &-primary {
    background-color: $primaryBrand;
    color: $black;
  }

  &-primary-outline {
    background-color: transparent;
    border-color: $primary700;
    color: $black;
    > .component-btn-icon {
      color: $primary700;
    }

    &:hover {
      background-color: $primary700;
      > .component-btn-icon {
        color: $black;
      }
    }
  }

  &-primary-radius {
    background-color: $primaryBrand;
    color: $white;
    border-radius: 24px;
  }

  &-outline {
    border: 1px solid $gray500;
    background-color: transparent;
  }

  &-outline-radius {
    border: 1px solid $gray500;
    background-color: transparent;
    border-radius: 24px;
  }

  &-primary:hover {
    background-color: $primaryTint1;
    // font-weight: 600;
  }

  &-primary:active {
    background-color: $primaryShade1;
  }

  &-secondary {
    background-color: $white;
    color: $gray190;
    border: 1px solid #8a8886;
  }

  &-secondary:hover {
    background-color: $gray20;
    // font-weight: 600;
  }

  &-secondary:active {
    background-color: $gray100;
  }

  &-danger {
    background-color: #d92c2c;
    color: $white;

    &:hover {
      background-color: #bb2424;
    }
    &:active {
      background-color: #8b1c1c;
    }
  }

  &-text {
    padding: 0;
    background-color: transparent;
    color: $gray190;
    border: 0;

    &.active {
      color: $primaryBrand;
    }

    &.disabled,
    &.disabled:active,
    &.disabled:hover {
      background-color: transparent;
    }
  }

  &-text:hover {
    background-color: $gray20;
    background-color: transparent;
    color: $primaryBrand;
    // font-weight: 600;
  }

  &-text:active {
    background-color: $gray30;
    background-color: transparent;
  }

  &-split {
    padding-right: 8px;
  }

  &-icon {
    display: inline-block;
    position: relative;
    display: flex;
    align-items: center;
    background-color: transparent;

    &-append {
      margin-left: 10px;
    }

    &-prepend {
      margin-right: 10px;
    }

    &-split {
      margin-left: 20px;
      border-left: 1px solid $gray60;
      padding-left: 8px;
      margin-right: -10px;
    }
  }

  &-icon-only {
    margin-left: 1rem;
    background-color: #fff;
    border-radius: 4px;
    border: 1.5px solid $primaryBrand;
    border: 1.5px solid transparent;

    // &:hover {
    //   background-color: $primaryBrand;
    //   color: #fff;
    // }
  }

  &-action {
    display: flex;
    background-color: transparent;
    border: 1px solid $primaryBrand;
    border-radius: 4px;
    padding: 4px;
    margin: 0 1rem;

    &:hover {
      border: 1px solid $primaryTint3;
      background-color: $primaryTint3;
      color: #ffffff;
      stroke-width: 2px;
    }
  }

  &-action-table {
    width: 100%;
    background-color: transparent;
    padding: 6px 0;
    margin: auto;
    &:hover {
      background-color: transparent;
    }
  }

  &-link {
    display: flex;
    padding: 0;
    margin: auto;
    color: $primaryBrand;
    color: #0078d4;
    background-color: transparent;

    &:hover {
      text-decoration: underline;
    }
    &.disabled,
    &.disabled:active,
    &.disabled:hover {
      text-decoration: none;
      background-color: transparent;
    }
  }
}
