@import "./../variable";

.searchbar {
  display: flex;
  align-content: center;
  justify-content: center;
  min-width: 100px;
  height: 32px;
  margin: 0;
  padding-left: 8px;
  padding-right: 5px;
  border: 1px solid #8a8886;
  border-radius: 2px;
  background-color: #fff;
  transition: align-content 0.15s ease-in-out;

  .icon {
    font-size: 16px;
    line-height: 1.75;
    transition: width 150ms ease-in-out, visibility 0.15s ease-in-out;

    &-search {
      width: 20px;
      color: $primary700;

      &.hide {
        width: 0;
      }
    }
    &-clear {
      visibility: visible;
      color: #c5c5c5;

      &.hide {
        visibility: hidden;
      }

      &:hover {
        color: #9c9c9c;
      }
    }
  }

  input {
    flex: 1;
    background-color: #fff;
    border: 1px solid transparent;
    width: 100%;
    &::placeholder {
      font-size: 14px;
    }

    &:focus {
      border: 1px solid transparent;
      box-shadow: none;
      outline: none;
    }
  }
}
