@import "./../variable";

.component-tab-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  &.block {
    .tab-item {
      width: 132px;
      padding: 8px 0;
      margin-right: 1px;
      text-align: center;
      background-color: #f1f1f1;
      -webkit-box-shadow: 4px 0px 4px -3px rgba(0, 0, 0, 0.2);
      box-shadow: 4px 0px 4px -3px rgba(0, 0, 0, 0.2);

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        width: 100%;
        height: 2px;
        background-color: $primaryBrand;
        transform-origin: center;
        transform: translate(-50%, 0) scaleX(0);
        transition: transform 0.2s ease-in-out;
      }

      &.bold {
        color: $gray800;
        background-color: #fff;

        &::before {
          transform: translate(-50%, 0) scaleX(1);
        }
      }
    }
  }

  .tab-item {
    color: $gray600;
    position: relative;
    padding: 2px 0 10px;
    margin-right: 11px;
    letter-spacing: 0.25px;
    user-select: none;

    &:last-child {
      margin-right: 0;
    }

    //? I do have a better way, pls check out
    // Emang lo terbaik dah nang
    &:hover {
      cursor: pointer;
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: $primaryBrand;
      transform-origin: center;
      transform: translate(-50%, 0) scaleX(0);
      transition: transform 0.2s ease-in-out;
    }

    &.bold {
      color: $gray800;
      &::before {
        transform: translate(-50%, 0) scaleX(1);
      }
    }
  }

  &.full-block {
    display: flex;
    flex-flow: row nowrap;

    .tab-item {
      flex: 1 1 0;
      display: flex;
      flex-flow: column nowrap;
      padding: 0.7rem;
      background-color: #f8f8f8;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
      margin-right: 1px;
      border-top-width: 4px;
      border-top-style: solid;
      border-color: #f8f8f8;
      &:last-child {
        margin-right: 0;
      }

      &.active {
        background-color: #fff;
        border-color: rebeccapurple;
      }
    }
  }
}
