$grey190: #201f1e;

.component-typography {
  display: inline-block;
  color: $gray700;
  // font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;

  &.bold {
    font-weight: 500;
  }

  &.accent {
    color: #69984c;
  }

  &.metadata {
    font-size: 12px;
    line-height: 16px;
  }

  &.body-text {
    font-size: 14px;
    line-height: 20px;
  }

  &.subject-title {
    font-size: 16px;
    line-height: 22px;
  }

  &.header-text {
    font-size: 18px;
    line-height: 24px;
  }

  &.pane-header {
    font-size: 20px;
    line-height: 28px;
  }

  &.page-title {
    font-size: 28px;
    line-height: 36px;
  }

  &.greeting-title {
    font-size: 32px;
    line-height: 40px;
  }

  &.hero-title {
    font-size: 42px;
    line-height: 52px;
  }

  &.xl-numerics {
    font-size: 68px;
    line-height: 76px;
  }
}
