@import "../../../assets/styles/variable";

.distributor-form {
  width: 100%;
  background-color: $white;

  .form-panel {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid $gray100;

    &:first-child {
      padding-top: 0;
      border-top-color: transparent;
    }

    .panel-title {
      width: 30%;

      span {
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        color: $gray800;
      }
    }

    .panel-content {
      width: 70%;
    }
  }

  .button-action {
    display: flex;
    justify-content: flex-end;
  }
}

.popup-distributor-created {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;

  > div {
    margin-top: 12px;
    &:first-child {
      margin-top: 0;
    }
  }

  .title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: #434343;
  }
  .subtitle {
    max-width: 410px;
    font-size: 14px;
    line-height: 20px;
    color: #434343;
  }
}
