@import "../../variable";

.renew-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  background-color: white;
  padding: 24px 0px;
  padding-left: 36px;

  span {
    font-size: 28px;
    font-family: "Noto Sans";
    color: #0c70d0;
  }

  .perbarui-data {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .last-update {
      font-size: 12px;
      margin-top: 5px;
      font-family: "Noto Sans";
      color: $gray500;
    }
  }
}

.transaction-container {
  width: 100%;
  // min-height: 100vh;
  .transaction-page {
    margin-left: auto;
    margin-right: 20px;
    padding: 24px 36px;
    border-radius: 2px;


    .fillter-download {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .transaction-wrapp {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .download-file {
          display: flex;
          align-items: center;
          margin-top: 20px;

          span {
            margin-left: 5px;
            font-size: 10px;
          }
        }

        .urutkan-transaksi {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          margin-right: 30px;
          // background: blue;

          span {
            font-size: 10px;
          }
          .select-transaction {
            width: 212px;
            height: 32px;
            padding-right: 10px;
            font-size: 14px;
            font-weight: 500;
            border: none;
            border-radius: 5px;
            background-color: #f1f1f1;
            font-weight: 400;
            padding-left: 2px;
          }
        }

        .semua-transaksi {
          display: flex;
          flex-direction: column;
          span {
            font-size: 10px;
          }
          .select-transaction {
            width: 212px;
            height: 32px;
            padding-right: 10px;
            font-size: 14px;
            font-weight: 500;
            border: none;
            border-radius: 5px;
            background-color: #f1f1f1;
            font-weight: 400;
            padding-left: 2px;
          }
        }
      }
    }
  }

  .tab-bottom {
    width: 1110px;
    height: 67px;
    background-color: #06419e;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 16px 20px;
    justify-content: space-between;
    z-index: 10;

    .pt-name {
      span {
        color: $white;
      }
    }

    .table-body {
      display: flex;
      align-items: center;
      .table-column {
        display: flex;
        flex-direction: column;

        .head {
          font-family: "Noto Sans";
          font-weight: bold;
          font-size: 10px;
          color: rgba(255, 255, 255, 0.6);
        }
      }

      span {
        margin-right: 16px;
        color: $white;
      }
    }
  }
}
