.user-page-body {
  .user-page-body-content {
    .table-content {
      td {
        font-size: 13px;
        line-height: 16px;
        color: #5c5c5c;
        vertical-align: top;
      }

      td > .nested-info {
        display: flex;
        flex-flow: row nowrap;

        > .profile-picture {
          width: 24px;
          height: 24px;
          margin-right: 8px;
        }

        > .user-info {
          flex-flow: column nowrap;

          .fullname {
            font-weight: 600;
            color: #2a2b2d;
            margin-bottom: 2px;
          }
        }
      }
    }
  }
}
