.image-generator {
  background-color: #D9D9D9;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  > .image-initial {
    color: #6e6e6e;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 3vw;
  }
}
