&.modal__add-admin {
  .modal-body {
    .content-item {
      border-top: 2px solid $gray50;
      padding-top: 16px;
      margin-top: 24px;

      &:first-child {
        border: none;
        margin-top: 0;
        padding-top: 0%;
      }
    }

    .body {
      .form-group {
        margin-bottom: 0 !important;
      }
    }
  }
}
