@mixin maxWidth($value) {
  overflow: hidden;
  flex: 0 0 100%;
  max-width: calc(calc(#{$value} / 12 * 100%) - 8px);
}

@mixin numbering($prop, $value) {
  #{$prop}: $value;
}

.container__body {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  .body_content {
    &.column {
      &-1 {
        @include maxWidth(1);
      }
      &-2 {
        @include maxWidth(2);
      }
      &-3 {
        @include maxWidth(3);
      }
      &-4 {
        @include maxWidth(4);
      }
      &-5 {
        @include maxWidth(5);
      }
      &-6 {
        @include maxWidth(6);
      }
      &-7 {
        @include maxWidth(7);
      }
      &-8 {
        @include maxWidth(8);
      }
      &-9 {
        @include maxWidth(9);
      }
      &-10 {
        @include maxWidth(10);
      }
      &-11 {
        @include maxWidth(11);
      }
      &-12 {
        @include maxWidth(12);
      }
    }

    > div {
      background-color: #fff;
      &.transparent {
        background-color: transparent
      }

      &.border-radius {
        &-0 {
          @include numbering(border-radius, 0);
          // border-radius: 0;
        }
        &-8 {
          @include numbering(border-radius, 8px);
          // border-radius: 8px;
        }
        &-16 {
          @include numbering(border-radius, 16px);
          // border-radius: 16px;
        }
        &-24 {
          @include numbering(border-radius, 24px);
          // border-radius: 24px;
        }
      }

      &.padding {
        &-0 {
          @include numbering(padding, 0);
          // border-radius: 0;
        }
        &-8 {
          @include numbering(padding, 8px);
          // border-radius: 8px;
        }
        &-16 {
          @include numbering(padding, 16px);
          // border-radius: 16px;
        }
        &-24 {
          @include numbering(padding, 24px);
          // border-radius: 24px;
        }
      }
    }
  }
}
