@import "../../../assets/styles/variable";

.user-form {
  width: 100%;
  background-color: $white;
  // padding: 24px;

  .form-panel {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid $gray100;

    &:first-child {
      padding-top: 0;
      border-top-color: transparent;
    }

    .panel-title {
      width: 30%;

      span {
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        color: $gray800;
      }
    }

    .panel-content {
      width: 70%;
    }
  }

  .button-action {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      min-width: 150px;
    }
  }
}
