@import "../../../assets/styles/variable";

.company-partner-form {
  &.header {
    font-size: 28px;
    line-height: 32px;
  }

  &.body {
    width: 100%;
    background-color: $white;
    margin-top: 28px;

    .form-panel {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;

      .button-action {
        display: flex;
        width: 100%;
        justify-content: flex-end;
      }
    }
  }
}
