.create-new-partner {
  width: 100%;
  background-color: #f5f6f8;
  display: flex;
  align-items: center;
  justify-content: center;

  .cnp-wrapp {
    width: 1048px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    padding: 20px;

    @import "./imageUploader";

    .button-save-cancle {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
}
