.partner-detail {
  width: 100%;
  background-color: #f5f6f8;

  .container-head {
    height: 195px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 22px;
    padding-left: 32px;

    .button-back {
      width: 100px;
      height: 25px;
      display: flex;
      align-items: center;
      //   justify-content: space-between;
      border: none;
      background-color: transparent;

      font-family: "Noto Sans";
      font-weight: normal;
      font-size: 13px;
      color: #5c5c5c;
    }
    .container-header-wrapp {
      display: flex;
      //   align-items: center;
      padding: 0;

      .image-content {
        width: 127px;
        height: 127px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 8px;
      }

      .name-content {
        margin-left: 20px;

        .partner-name {
          font-family: "Noto Sans";
          font-style: normal;
          font-weight: normal;
          font-size: 28px;
          color: #0c70d0;
        }

        .partner-info {
          margin-top: 10px;
          display: flex;
          flex-direction: column;

          .partner-id {
            display: flex;
            align-items: center;

            .partner-name-left {
              font-family: "Noto Sans";
              font-weight: 500;
              font-size: 14px;
              color: #2a2b2d;
              margin-right: 10px;
            }

            .partner-name-right {
              font-family: "Noto Sans";
              font-weight: 500;
              font-size: 14px;
              color: #2a2b2d;
            }
          }
        }
      }
    }
  }
}
