@import "../../../assets/styles/variable";

.member-detail {
  .panel-content {
    background-color: #fff;
    padding: 1rem;
    font-size: 20px;
    line-height: 28px;
    color: $gray600;
    min-height: 70vh;

    .profile-picture {
      width: 96px;
      height: 96px;
      border-radius: 16px;
      overflow: hidden;
      background: #d9d9d9;
      margin: 0 auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .see-ktp {
      margin-top: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    > .title {
      font-weight: 500;
    }

    .info-wrapper {
      display: flex;
      flex-flow: row nowrap;
      margin-top: 16px;

      font-size: 13px;
      line-height: 16px;
      color: #5c5c5c;

      > .title {
        min-width: 112px;
        font-weight: 600;
        margin-right: 8px;
      }

      > .value {
        .image-wrapper {
          width: 319px;
          height: 157px;
          overflow: hidden;
          border-radius: 8px;
          border: 1px solid $gray200;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
