@import "../../variable";

.login-page {
  min-width: 100%;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: row;

  .image-wrapper {
    width: 50vw;
    height: 100vh;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      //   object-fit: cover;
      //   transform: scale(1.05);
    }
  }

  .content-wrapper {
    width: 50vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin: auto;

    .logo-wrapper {
      margin-bottom: 41px;
      img.img-logo {
        width: 155px;
        object-fit: cover;
      }
    }

    .text-head {
      align-items: flex-start;
      justify-content: flex-start;
      width: 312px;
      margin-bottom: 21px;

      .subtitle {
        align-items: flex-start;
        font-size: 16px;
        font-weight: 400;
        color: #2d3748;
        font-family: "Open Sans";
      }

      .title {
        align-items: flex-start;
        font-size: 25px;
        font-weight: 700;
        color: #2d3748;
        font-family: "Open Sans";
      }
    }
    //

    .input-wrapp {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .title-input {
        font-size: 16px;
        font-weight: 400;
        color: #2d3748;
        font-family: "Open Sans";
      }

      .input {
        width: 312px;
      }
    }

    .button-login {
      margin-top: 30px;
      width: 312px;
      height: 45px;
      background-color: #3aa0f3;
      border: transparent;
      color: white;
      border-radius: 5px;
    }
  }
}
