@import "../../../../assets/styles/variable";

.panel-overview-distributor {
  > .panel-detail {
    padding: 1rem;

    > .title {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 8px;
    }

    .bank-account {
      display: inline-block;
      background-color: $gray10;
      padding: 8px;

      .logo {
        display: inline-block;
        font-size: 10px;
        line-height: 12px;
        font-weight: 600;
        color: #fff;
        background-color: #f38d3a;
        padding: 4px 16px;
      }

      .bank-account-info {
        margin-top: 8px;
        font-size: 13px;
        line-height: 16px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        > span {
          display: inline-block;

          &:first-child {
            width: 96px;
            margin-right: 8px;
          }
          &:last-child {
            width: 232px;
          }
        }
      }
    }

    .representatives {
      display: flex;
      flex-flow: row wrap;
      gap: 24px 8px;

      > .detail-representative {
        background-color: $gray10;
        padding: 8px;

        > .header {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;

          > .fullname {
            font-weight: 600;
          }

          > .action {
            display: flex;
            flex-flow: row nowrap;

            button {
              padding: 0;
              height: 24px;
            }
          }
        }

        > .representative-info {
          margin-top: 8px;
          font-size: 13px;
          line-height: 16px;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;

          > span {
            display: inline-block;

            &:first-child {
              width: 96px;
              margin-right: 8px;
            }
            &:last-child {
              width: 232px;
            }
          }
        }
      }
    }
  }
}
