.panel-sharing-partners {
  padding: 1rem;

  > .title {
    color: #2a2b2d;
    font-size: 16px;
    line-height: 24px;

    margin-bottom: 1rem;
  }

  .sharing-partner-item {
    color: #2a2b2d;
    font-size: 14px;
    line-height: 20px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 8px;
    padding-bottom: 4px;
    border-bottom: 1px solid #e6e6e6;

    &:first-child {
      margin-top: 0;
    }

    .name-info {
      color: #006dcc;
      margin-right: 8px;
    }

    .initial-code-info {
      margin-right: auto;
    }

    .timestamp-info {
      color: #9b9b9b;
      font-size: 13px;
      line-height: 16px;
      margin-right: 8px;
    }

    .percentage {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 20px;

      color: #5c5c5c;
      background-color: #f2f3f7;
      border-radius: 2px;
    }

    .menu-action {
      height: 24px;
    }
  }

  .button-action {
    margin-top: 3rem;
  }
}
