@import "../../variable";

.distributor-page {
  width: $contentWidth;
  margin-left: auto;
  margin-right: 20px;
  padding: 24px 32px;
  border-radius: 2px;
  //   background-color: #f8f8f8;

  // .table-cell-style {
  //   border-bottom: 1px solid rgb(172, 167, 167);
  //   margin-top: 100px;
  // }

  .page-title {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
  }

  // This section for Search box
  .total-user-search {
    margin-top: 28px;
    margin-bottom: 22px;
  }

  // Select Option
  .user-select {
    outline: none;
    border: none;
    width: 200px;
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    background: url("./../../../icons/Fill.svg") no-repeat right;
    -webkit-appearance: none;
    background-position-x: 170px;
    // background-color: red;
  }

  .user-image {
    display: flex;
    align-items: center;
    .image {
      width: 20px;
      height: 20px;
      border-radius: 33px;
      overflow: hidden;
      // margin: 0 20px;
      margin-right: 10px;

      img {
        width: 20px;
        height: 20px;
        object-fit: cover;
      }
    }
  }

  .pagination-button {
    margin-top: 5px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: $white;
    padding: 27px;
    justify-content: flex-end;
  }
}
