.input-container {
  .input__group {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;

    .input__label {
      width: 200px;
      margin-right: 24px;
      display: flex;
      flex-flow: column nowrap;

      .input__label-title {
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        color: $gray600;
      }
      .input__label-subtitle {
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        color: $gray500;
      }
    }

    .input_item {
      width: 100px;
    }

    .form-group {
      width: 200px;
    }
  }
}
