@import "../../variable";

.newDistributor-page {
  width: $contentWidth;
  margin-left: auto;
  margin-right: 20px;
  padding: 24px 24px;
  border-radius: 2px;

  .breadcrumbs {
    margin-top: 12px;
    span {
      font-size: 16px;
      color: $gray500;
      font-family: "Noto Sans";
    }
  }

  .title-page {
    font-size: 28px;
    color: $gray700;
    margin-top: 50px;
  }

  .detail-distributor-wrapp {
    width: 100%;
    // height: 1591px;
    // height: 100%;
    background-color: $white;
    margin-top: 28px;
    padding: 24px;

    .container-new {
      &-distributor {
        width: 100%;
        height: 437px;
        display: flex;
        justify-content: space-between;

        .title-name {
          font-size: 16px;
          color: $gray800;
        }

        .container-content {
          width: 698px;
          height: 100%;
          // background-color: blue;

          display: flex;
          flex-direction: column;

          @import "./imageUploader";

          .text-field {
            margin-top: 24px;
            display: flex;
            flex-direction: column;
            span {
              margin-bottom: 10px;
              font-size: 14px;
              color: $gray800;
              font-family: "IBM Plex Sans";
            }
          }

          .text-field-top {
            display: flex;
            flex-direction: column;
            span {
              margin-bottom: 10px;
            }
          }

          .text-field-flex {
            display: flex;
            justify-content: space-between;

            .text-field-width {
              width: 336px;
            }
          }
        }
      }

      &-distributor-adress {
        width: 100%;
        height: 403px;
        display: flex;
        justify-content: space-between;

        .title-name {
          font-size: 16px;
          color: $gray800;
        }

        .container-content {
          width: 698px;
          height: 100%;
          // background-color: blue;

          display: flex;
          flex-direction: column;

          .upload-image {
            width: 129px;
            height: 129px;
            background-color: #bdbebe;
            display: flex;
            align-items: center;

            input[type="file"] {
              color: transparent;
              margin-left: 10px;
            }
          }

          .text-field {
            margin-top: 24px;
            display: flex;
            flex-direction: column;
            span {
              margin-bottom: 10px;
              font-size: 14px;
              color: $gray800;
              font-family: "IBM Plex Sans";
            }
          }

          .text-field-top {
            display: flex;
            flex-direction: column;
            span {
              margin-bottom: 10px;
            }
          }

          .text-field-flex {
            display: flex;
            justify-content: space-between;

            .text-field-width {
              width: 336px;
            }
          }
        }
      }

      &-distributor-account {
        width: 100%;
        height: 198px;
        display: flex;
        justify-content: space-between;
        margin-top: 43px;

        .title-name {
          font-size: 16px;
          color: $gray800;
        }

        .container-content {
          width: 698px;
          height: 100%;
          // background-color: blue;

          display: flex;
          flex-direction: column;

          .upload-image {
            width: 129px;
            height: 129px;
            background-color: #bdbebe;
            display: flex;
            align-items: center;

            input[type="file"] {
              color: transparent;
              margin-left: 10px;
            }
          }

          .text-field {
            margin-top: 24px;
            display: flex;
            flex-direction: column;
            span {
              margin-bottom: 10px;
              font-size: 14px;
              color: $gray800;
              font-family: "IBM Plex Sans";
            }
          }

          .text-field-top {
            display: flex;
            flex-direction: column;
            span {
              margin-bottom: 10px;
              font-size: 14px;
              color: $gray800;
              font-family: "IBM Plex Sans";
            }
          }

          .text-field-flex {
            display: flex;
            justify-content: space-between;

            .text-field-width {
              width: 336px;
            }
          }

          .button-icon {
            width: 165px;
            height: 32px;
            background: #007ff4;
            border-radius: 24px;
            color: $white;
            margin-top: 24px;
            font-size: 12px;
          }
        }
      }

      &-detail-representatif {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 43px;

        .title-name {
          font-size: 16px;
          color: $gray800;
        }

        .container-content {
          width: 698px;
          height: 100%;
          // background-color: blue;

          display: flex;
          flex-direction: column;

          .upload-image {
            width: 129px;
            height: 129px;
            background-color: #bdbebe;
            display: flex;
            align-items: center;

            input[type="file"] {
              color: transparent;
              margin-left: 10px;
            }
          }

          .text-field {
            margin-top: 24px;
            display: flex;
            flex-direction: column;
            span {
              margin-bottom: 10px;
              font-size: 14px;
              color: $gray800;
              font-family: "IBM Plex Sans";
            }

            @import "./inputContainer";

            .input {
              height: 32px;
              border: 1px solid #e1e1e1;
            }
          }

          .text-field-top {
            display: flex;
            flex-direction: column;
            span {
              margin-bottom: 10px;
              font-size: 14px;
              color: $gray800;
              font-family: "IBM Plex Sans";
            }
          }

          .text-field-flex {
            display: flex;
            justify-content: space-between;

            .text-field-width {
              width: 336px;
              border: 1px solid #e1e1e1;
            }
          }

          .button-icon {
            width: 165px;
            height: 32px;
            background: #007ff4;
            border-radius: 24px;
            color: $white;
            margin-top: 24px;
            font-size: 12px;
          }
        }
      }

      &-sharing-partners {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 43px;

        .title-name {
          font-size: 16px;
          color: $gray800;
        }

        .container-content {
          width: 698px;
          height: 100%;
          // background-color: blue;

          display: flex;
          flex-direction: column;

          .upload-image {
            width: 129px;
            height: 129px;
            background-color: #bdbebe;
            display: flex;
            align-items: center;

            input[type="file"] {
              color: transparent;
              margin-left: 10px;
            }
          }

          .text-field {
            margin-top: 24px;
            display: flex;
            flex-direction: column;
            span {
              margin-bottom: 10px;
              font-size: 14px;
              color: $gray800;
              font-family: "IBM Plex Sans";
            }
          }

          .text-field-top {
            display: flex;
            flex-direction: column;
            margin-right: 20px;
            span {
              margin-bottom: 10px;
              font-size: 14px;
              color: $gray800;
              font-family: "IBM Plex Sans";
            }

            .select-option {
              width: 250px;
              height: 32px;
              border: 1px solid #e1e1e1;
            }
          }

          .text-field-flex {
            display: flex;
            // justify-content: space-between;

            .text-field-width {
              width: 199px;
              height: 32px;
              border: 1px solid #e1e1e1;
            }
          }

          .button-icon {
            width: 165px;
            height: 32px;
            background: #007ff4;
            border-radius: 24px;
            color: $white;
            margin-top: 24px;
            font-size: 11px;
          }
        }
      }
    }

    .divider {
      width: 100%;
      height: 2px;
      background-color: #edebe9;
      margin-top: 70px;
      margin-bottom: 23px;
    }

    .button-save-cancle {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      margin-top: 40px;
    }
  }
}
