@import "../../variable";

.crate-new-user {
  width: $contentWidth;
  // margin-left: 260px;
  margin-left: auto;
  margin-right: 20px;
  border-radius: 2px;

  .body-wrapp {
    // padding: 24px 32px;
    padding-left: 12px;
    // padding-right: 32px;

    .crate-new-user-wrapp {
      width: 100%;
      // height: 700px;
      height: 100%;
      background-color: $white;
      margin-top: 28px;
      padding: 24px;
      border-radius: 2px;

      .container-new {
        &-member {
          width: 100%;
          height: 437px;
          display: flex;
          // align-items: center;
          justify-content: space-between;
          // background-color: blue;

          .title-name {
            font-family: "Noto Sans";
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #292929;
          }

          .container-content {
            width: 698px;
            height: 100%;
            // background-color: blue;

            display: flex;
            flex-direction: column;

            @import "./imageUploader";

            .text-field {
              width: 600px;
              margin-bottom: 20px;
              display: flex;
              flex-direction: column;
              span {
                margin-bottom: 10px;
                font-size: 14px;
                color: #292929;
                font-family: "IBM Plex Sans";
              }
            }

            // .text-field-top {
            //   width: 600px;
            //   display: flex;
            //   flex-direction: column;
            //   margin-bottom: 20px;
            //   span {
            //     margin-bottom: 10px;
            //   }
            // }

            .text-field-flex {
              display: flex;
              justify-content: space-between;

              .text-field-width {
                width: 336px;
              }
            }
          }
        }
      }

      .divider {
        width: 100%;
        height: 2px;
        background-color: #edebe9;
        margin-top: 70px;
        margin-bottom: 23px;
      }

      .button-save-cancle {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top: 250px;
      }
    }
  }
}
