@import "../../variable";

.panel-info-wrapper {
  height: 600px;
  background-color: #fff;
  padding-left: 15px;
  padding-top: 20px;
  border-radius: 8px;

  .details-panel-info {
    min-height: 414px;
    background-color: white;
    padding: 16px 24px;

    &.data-registrasi {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .panel-header {
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #2a2b2d;
        margin-bottom: 10px;
      }

      .bank-container {
        display: flex;
        margin-top: 10px;
        align-items: center;

        .bank-bni {
          width: 35px;
          height: 17px;
          background-color: #f38d3a;
          border-radius: 2px;
          margin-right: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-size: 10px;
        }

        .account-number {
          font-family: "Noto Sans";
          font-weight: normal;
          font-size: 13px;
          color: #5c5c5c;
        }
      }
      .bank-container {
        display: flex;
        .bank-bca {
          width: 35px;
          height: 17px;
          background-color: #0c70d0;
          border-radius: 2px;
          margin-right: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-size: 10px;
        }

        .account-number {
          font-family: "Noto Sans";
          font-weight: normal;
          font-size: 13px;
          color: #5c5c5c;
        }
      }

      .add-account {
        margin-top: 10px;
        border: none;
        background-color: transparent;
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #3aa0f3;
      }

      .bank-account {
        display: flex;
      }
      .item-content {
        margin-bottom: 10px;

        .content-title {
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          color: $gray500;
        }

        .content-value {
          margin-top: 4px;
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
          color: $gray800;

          .img-container {
            height: 157px;
            margin-right: 4px;
            margin-bottom: 4px;
            overflow: hidden;
            background-color: $gray25;

            &.ktp {
              width: 300px;
            }

            &.profile {
              width: 157px;
            }

            > img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      .detail-representative {
        margin-top: 42px;
        display: flex;
        flex-direction: column;
        .panel-header-representative {
          font-family: "Noto Sans";
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          color: #2a2b2d;
          margin-bottom: 8px;
        }

        .representative-name {
          font-family: "Noto Sans";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          color: #2a2b2d;
          margin-bottom: 8px;
        }

        .height {
          margin-top: 10px;
        }

        .head-text {
          font-family: "Noto Sans";
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          color: #2a2b2d;
          // margin-top: 20px;

          &-email {
            margin-right: 80px;
          }

          &-phone {
            margin-right: 10px;
          }

          &-occupation {
            margin-right: 35px;
          }
        }

        .child-text {
          font-family: "Noto Sans";
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          color: #23262c;
        }
      }
    }

    &.sharing-partner {
      display: flex;
      flex-direction: column;
      .panel-header {
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #2a2b2d;
      }

      .height {
        height: 21px;
      }

      .sharing-partner-wrapper {
        margin-top: 16px;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e6e6e6;

        .sharing-partner-name {
          font-family: "Noto Sans";
          font-weight: normal;
          font-size: 14px;
          color: #006dcc;
          margin-right: 8px;
        }

        .sharing-partner-abbreviation {
          font-family: "Noto Sans";
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          color: #2a2b2d;
        }

        .content-right {
          display: flex;
          align-items: center;
          .percent {
            width: 80px;
            height: 20px;
            background-color: #f2f3f7;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
              font-family: "Noto Sans";
              font-weight: normal;
              font-size: 14px;
              color: #5c5c5c;
            }
          }

          button {
            border: none;
            background: transparent;
          }
        }
      }

      .add-sharing-partner {
        display: flex;
        align-items: center;
        width: 200px;
        border: 1px solid #006dcc;
        background-color: transparent;
        margin-top: 31px;
        font-size: 13px;
        color: #1e1e1e;
        font-family: "Noto Sans";

        .icon-add {
          margin-right: 10px;
          font-size: 14px;
          color: #3aa0f3;
        }
      }
    }

    &.riwayat-transaksi {
      padding-top: 10px;
    }

    // &.informasi-umum {
    //   .item-container {
    //     display: flex;
    //     padding: 8px;

    //     .icon-wrapper {
    //       height: 48px;
    //       width: 48px;
    //       display: flex;
    //       align-items: center;
    //       justify-content: center;
    //       margin-right: 8px;
    //     }

    //     .item-content {
    //       .title {
    //         font-size: 14px;
    //         line-height: 20px;
    //         font-weight: 500;
    //       }
    //       .value {
    //         margin-top: 3px;
    //         font-size: 16px;
    //         line-height: 22px;
    //         font-weight: 400;
    //       }
    //     }
    //   }
    // }
  }
}
