@import "../../variable";

.detail-panel-user {
  background-color: white;
  padding: 16px;
  height: 600px;
  .user {
    &-badge-type {
      border-radius: 5px;
      overflow: hidden;
      background-color: #c8c8c8;
      padding: 4px;
      text-transform: capitalize;
      font-size: 12px;
      line-height: 16px;
      align-self: center;
    }

    &-picture {
      background-color: $gray25;
      margin-top: 14px;
      border-radius: 80px;
      align-self: center;
      overflow: hidden;
      height: 96px;
      width: 96px;

      > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    &-fullname {
      margin-top: 14px;
      align-self: center;
      flex-wrap: wrap;
      font-size: 16px;
      line-height: 22px;
      color: #303030;
    }

    &-info {
      margin-top: 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .user-info-title {
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: #5c5c5c;
      }
      .user-info-value {
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #2a2b2d;
      }
    }

    &-address {
      margin-top: 14px;

      .user-info-title-address {
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: #5c5c5c;
        margin-bottom: 10px;
      }
      .user-info-value-address {
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #2a2b2d;
      }
    }
  }
}
