@import "../../variable";

.user-wrapp {
  width: $contentWidth;
  // margin-left: 260px;
  margin-left: auto;
  margin-right: 20px;
  // padding: 24px 32px;
  border-radius: 2px;

  .container-head {
    width: 1183px;
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;

    h2 {
      font-family: "Noto Sans";
      font-weight: normal;
      font-size: 28px;
      color: #0c70d0;
    }
  }

  .user-page {
    width: $contentWidth;
    margin-left: auto;
    // margin-right: 20px;
    padding: 24px 32px;
    border-radius: 2px;

    .page-title {
      font-family: "IBM Plex Sans";
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
    }

    .header {
      display: flex;
      margin-top: 50px;
      margin-bottom: 20px;

      .total-user {
        display: flex;
        align-items: center;
      }
    }

    // This section for Search box
    .total-user-search {
      margin-top: 28px;
      margin-bottom: 22px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .user-image {
      display: flex;
      align-items: center;
      .image {
        width: 20px;
        height: 20px;
        border-radius: 33px;
        overflow: hidden;
        // margin: 0 20px;
        margin-right: 10px;

        img {
          width: 20px;
          height: 20px;
          object-fit: cover;
        }
      }
    }

    .pagination-button {
      margin-top: 5px;
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center;
      background-color: $white;
      padding: 27px;
      justify-content: flex-end;
    }
  }
}
