$background: #f5f6f8;

$primaryBrand: #ffc124;
$primaryTint1: #fab348;
$primaryTint2: #feca50;
$primaryTint3: #ffde57;
$primaryTint4: #f8e854;
$primaryTint5: #fbed6b;
$primaryTint6: #fdf285;
$primaryTint7: #fef6a7;

$primaryShade1: #e4823c;
$primaryShade2: #ca7336;
$primaryShade3: #b1652f;
$primaryShade4: #985628;

// $primaryShade1: #5f8944;
// $primaryShade2: #547a3d;
// $primaryShade3: #4a6a35;
// $primaryShade4: #3f5b2e;
// $primaryShade5: #354c26;
// $primaryShade6: #2a3d1e;
// $primaryShade7: #1f2e17;

$primary900: #fb7e0c;
$primary800: #fea81c;
$primary700: #ffc124;
$primary600: #ffd92c;
$primary500: #fbe629;
$primary400: #feeb4e;
$primary300: #fff071;
$primary200: #fff59a;
$primary100: #fff9c3;
$primary50: #fffde7;

$secondaryBrand: #605e5c;
$secondaryShade1: #393939;
$secondaryShade2: #323232;
$secondaryShade3: #2c2c2c;

$white: #fff;
$black: #000;
$warning: #dcab00;
$danger: #e05454;

$gray10: #fafafa;
$gray20: #f3f2f1;
$gray25: #f8f8f8;
$gray30: #edebe9;
$gray50: #f1f1f1;
$gray60: #c8c6c4;
$gray90: #a19f9d;
$gray100: #e1e1e1;
$gray110: #8a8886;
$gray130: #605e5c;
$gray160: #323130;
$gray190: #201f1e;
$gray200: #c8c8c8;
$gray300: #acacac;
$gray400: #919191;
$gray500: #6e6e6e;
$gray600: #404040;
$gray700: #303030;
$gray800: #292929;
$gray900: #212121;

$contentWidth: calc(100vw - 256px - 20px);
$detailsWidth: calc(100vw - 20px);
