@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Roboto&display=swap");
@import "./variable";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html {
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: "Noto Sans";

    &.modal-open {
      padding-right: 0 !important;
    }

    // COMPONENTS
    @import "./components";
    // @import "./components/navbar";
    // @import "./components/table";
    // @import "./components/searchbar";
    // @import "./components/forminput";
    // @import "./components/tabs";
    // @import "./components/typography";
    // @import "./components/breadcrumb";
    // @import "./components/button";
    // @import "./components/pagination";
    
    @import "./modal/modal";

    .App-wrapper {
      min-height: calc(100vh - 56px);
      margin: 0;
      padding: 0;
      background-color: #f8f8f8;
      display: flex;
      flex-flow: row nowrap;

      @import "./components/sidebar";
      @import "./pages/Login/login";

      // * PAGES
      @import "./pages/Settlement/settlement";
      @import "./pages/DistributorCatalog/distributor";
      @import "./pages/DistributorCatalog/newDistributor";
      @import "./pages/User/user";
      @import "./pages/User/createNewUser";
      @import "./pages/User/detailUser";
      @import "./pages/User/detailInfo";
      @import "./pages/Admin/admin";
      @import "./pages/Transaction/transaction";
    }

    @import "./pages/Transaction/transaction";
    @import "./pages/Settlement/settlement";
    @import "./pages/DistributorCatalog/newDistributor";
    @import "./pages/Partner/createNewPartner";
    @import "./pages/Partner/detailPartner";
  }
}
