@import "../../assets/styles/variable";

.admin-catalog {
  .body-title {
    font-weight: 700;
  }

  .clickable {
    cursor: pointer;
  }

  .body-table > thead > tr > th {
    user-select: none;

    > .th-item {
      display: flex;
    }
  }
}
