.panel-mitra-afiliasi-member {
  .affiliated-content {
    padding: 1rem;

    > .info-wrapper {
      > .title {
        min-width: 160px;
        margin-right: 8px;
      }
    }
  }
}

.panel-informasi-toko-usaha-member {
  .store-content {
    padding: 1rem;

    .info-wrapper {
      display: flex;
      flex-flow: column nowrap;
      margin-top: 24px;
      margin-right: 50px;

      &:first-child {
        margin-top: 0;
      }

      font-size: 13px;
      line-height: 16px;
      color: #5c5c5c;

      > .title {
        min-width: 112px;
        font-weight: 600;
        margin-right: 8px;
      }

      > .value {
        margin-top: 4px;
      }
    }

    .address-components {
      display: flex;
      flex-flow: row wrap;

      > :first-child {
        margin-top: 24px;
      }
    }
  }
}

.popup-ktp-image {
  width: 420px;
  height: calc(3 / 4 * 420px);
  background-color: #d9d9d9;
  margin: auto;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
